<div>
  <div class="jumbotron intro topics">
    <h1>See what we'll <br> be getting into next!</h1>
    <h3>This is where we add and vote on topics we'll cover in out meetups.</h3>
  </div>

  <div class="search-sort row">
    <div class="col-sm-2 col-sm-offset-2">
      <%= link_to 'Add a new topic!', new_topic_path, class: 'btn btn-info add-new' %>
    </div>
    <div class="btn-group col-sm-3" role="group" aria-label="...">
      <button type="button" class="btn btn-info add-new">
        <%= link_to 'Show All', topics_path(:topic_type => 'All') %>
      </button>
      <button type="button" class="btn btn-info add-new">
        <%= link_to 'Lightning Talks', topics_path(:topic_type => 'Lightning Talk') %>
      </button>
      <button type="button" class="btn btn-info add-new">
        <%= link_to 'Large Demo', topics_path(:topic_type => 'Large Demo') %>
      </button>
    </div>
    <div class="form-group col-sm-3">
      <input type="text" class="form-control" placeholder="Search topics">
    </div>
  </div>

  <div class=" topic-container">
    <% @topics.each do |topic| %>
        <div class="">
          <div class="booyah-box">
            <div class="container-fluid">
              <div class = "topic-card-header row">
                <div class="col-sm-3">
                  <h3 class="card"><%= topic.topic_type %></h3>
                </div>
                <div class="col-sm-5 col-sm-offset-2">
                  <h3 class="card"><%= pluralize(topic.votes.count, "Vote") %></h3>
                </div>
                <div class="col-sm-1 ">
                  <%= link_to 'Vote!', upvote_topic_path(topic), class: 'btn btn-info add-new',method: :post %>
                </div>
              </div>
              <div class = "row">
                <div class="col-sm-12 col-sm-offset-5" >
                  <a href="<%= topic_path(topic) %>">
                    <h3 class="card"><%= topic.title %></h3>
                  </a> 
                </div>
              </div>
              <div class = "row">
                <div class="col-sm-12">
                  <h4><%= topic.description %></h4>
                </div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>