<%= simple_form_for @resource do |f| %>
<% if @resource.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h5>
        <%= pluralize(@resource.errors.count, "error") %> prohibited
        this resource from being saved:
      </h5>
      <ul>
        <% @resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div>
    <form>
      <div class="form-group ">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.input :resource_type, collection: [:Resource1, :Resource2], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :external_link %><br>
        <%= f.text_area :external_link, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.input :category, collection: [:Category1, :Category2], class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
      </div>
    </form>
</div>

<% end %>
