<h2>Listing resources</h2>

<%= link_to 'Add a new resource!', new_resource_path %>
<div class="resource_box">
    <% @resources.each do |resource| %>
        <h4 class="resource_title"><%= resource.name %></h4>
        <ul>
          <li>
            <a href="<%= resource.external_link %>>"><%= resource.external_link %></a>
          </li>
          <li>
            <%= resource.resource_type %>
          </li>
          <li>
            <%= resource.description %>
          </li>
          <li>
            <%= resource.category %>
          </li>
        </ul>
          <%= link_to 'Show', resource_path(resource) %>
          <%= link_to 'Edit', edit_resource_path(resource) %>
          <%= link_to 'Delete', resource_path(resource),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>
