<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @resource.name %></h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <li>
            <strong>Resource Type:</strong>
            <br>
            <%= @resource.resource_type %>
          </li>
          <br>
          <li>
            <strong>External Link:</strong>
            <br>
            <%= @resource.external_link %>
          </li>
          <br>
          <li>
            <strong>Description:</strong>
            <br>
            <%= @resource.description %>
          </li>
          <br>
          <li>
            <strong>Category:</strong>
            <br>
            <%= @resource.category %>
          </li>
        </ul>
      </div>
    </div>

    <%= link_to 'Finish', resources_path, class: 'btn btn-success' %>
    <%= link_to 'Edit', edit_resource_path(@resource), class: 'btn btn-primary' %>
</div>