<!DOCTYPE html>
<html>
  <head>
    <title>MKE Code Slingers</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body>
  	<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
    			<a class="navbar-brand" <%= link_to 'MKE Code Slingers', root_path, :class => '' %></a>
    		</div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path, :class => '' %></li>
          <li><%= link_to 'About', about_path, :class => '' %></li>
        </ul>
  		</div><!-- /.container-fluid -->
  	</nav>
  <%= yield %>
  </body>
  <footer>
    <div class="container">
      <a href="http://milwaukeecodeslingers.org">&copy;MilwaukeeCodeSlingers</a>
      <a href="http://www.meetup.com/MKE-Code-Slingers/events/" class="GitHubIcon">MeetUp</a>
      <a href="https://github.com/mkecodeslingers" class="MeetupIcon">GitHub</a>
    </div>
  </footer>
</html>
