<!DOCTYPE html>
<html>
<head>
  <title>MKE Code Slingers</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<!-- Brand and toggle get grouped for better mobile display -->
    		<div class="navbar-header">
      			<%= link_to 'Home', root_path, :class => 'navbar-brand' %>      
      			<a class="navbar-brand" href="http://www.google.com">About</a>
    		</div>    
  		</div><!-- /.container-fluid -->
	</nav>

<%= yield %>

</body>
</html>
