<!DOCTYPE html>
<html>
  <head>
    <title>MKE Code Slingers</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>
  	<nav class="navbar navbar-inverse navbar-static-top">
  		<div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" <%= link_to 'MKE Code Slingers', root_path, :class => '' %></a>-->
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'About', root_path, :class => '' %></li>
              <li><%= link_to 'Members', members_path, :class => '' %></li>
              <li><%= link_to 'Resources', resources_path, :class => '' %></li>
              <li><%= link_to 'Topics', topics_path, :class => '' %></li>
            </ul>
          </div>
  		</div>
  	</nav>
    <%= yield %>
    <a class="up"><i class="fa fa-arrow-up fa-3x"></i></a>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
  <footer>
    <div class="container-fluid col-sm-12">
      <a href="http://milwaukeecodeslingers.org" class="copy-right">&copy;2016 MilwaukeeCodeSlingers</a>
      <a href="http://www.meetup.com/MKE-Code-Slingers/events/" class="GitHubIcon social">MeetUp</a>
      <a href="https://github.com/mkecodeslingers" class="MeetupIcon social"><i class="fa fa-github fa-2x"></i></a>
    </div>
  </footer>
</html>
